.calsium {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 375px;
    height: 812px;
}

.img{
width: 115px;
height: 65px;
padding: 7px 10px 19px 89px;
text-align: center;
}
.img-1{
    width: 35px;
    height: 25px;
    position: absolute;
    top: 38px;
    right: 14px;
}
.pa{
    text-align: center;
    padding: 386px 1px 12px 10px;
}
.email{
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
padding: 2px 1px 12px 144px;
margin-bottom: 0px;
}
.input{
    width: 281px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: -14px;
    text-align: center;
margin-right: 60px;
font-family: 'Cairo', sans-serif;
border: 1px solid #e6e6eb;

}
.button{
    width: 281px;
    height: 37px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: -14px;
    text-align: center;
margin-right: 60px;
font-family: 'Cairo', sans-serif;
color: white;
background-color: #5e6fd5;
font-family: 'Cairo', sans-serif;
}
   

    
    


   
   




    
 






 


   

   
